*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
}
h2{
  font-size: 40px;
}
p{
  font-size: 18px;
}

/* nav */
/*botón arriba*/
.boton-subir{
  display: none;
  background: black;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 5px;
  bottom:2px;
  z-index: 999999999;
}
.boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
.boton-subir i{
  color: white;
  font-size: 1.5em;
  padding: 10px 10px 10px 10px;
  transition-duration: 1s;
}
/* fin boton arriba */
.menu-responsivo{
  background-color: black;
}
header{
position: fixed;
background-color: black;
z-index: 100;
width: 100%;
}
.navbar-c{
    background-color: black;
    height: 80px;
}
.position-logo{
    position: relative;
    z-index: 1;
    width: 160px;
}
.ahover{
    color: white;
    border: 1px solid transparent;

}
.ahover:hover{
    color: black;
    background-color: white;
    transition-duration: 1s;
}
.btn:not(:disabled):not(.disabled){
  position: absolute;
  bottom: 30%;
}
/* fin nav */

/* incicio */
.parrafo-inicio{
  width: 50%;
  margin: 0 auto;
  padding: 20px 0px;
}
.imgf{
    background-image: url(../img/img-home.jpg);
    background-size: cover;
    background-position: center ;
    height: 48em;
    background-attachment: fixed;
}

.parra-img1{
    padding-top: 17%;
    color: white;
}
.parra-img1 h1{
  font-size: 80px;
}
.parra-img1 p{
  font-size: 20px;
}
/* fin incicio */
/* barra social vertical fixed */
.social {
	position: fixed;
	right: 0;
	top: 350px;
	z-index: 2000;
}
.social ul {
		list-style: none;
	}
.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
	}
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-pinterest {background: #ae181f;}
  .social ul li .icon-instagram {background: #8134af;}


	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

/* servicios */
.cotenedor-servicios{
  padding: 80px 0px;
}
.imgf2{
    background-image: url(../img/img-services.jpg);
    background-size: cover;
    background-position: center ;
    color: white;
}
.services-icon{
    padding-top: 8%;
}
.titulo-servicio{
  text-decoration: underline;
}
.info-servicio{
  margin-bottom: 180px;
}
 /* .info-servicio p{
  font-size: 1em;
}
.info-servicio h2{
  padding-bottom: 40px;
} */

/* fin servicios */

/* nuestro equipo */
.equipo{
  background-color: white;
}
.info-equipo h2{
  color: #969595;
  padding-top: 40px;
  text-decoration: underline;
}
.info-equipo p{
  color: #5B5B5B;
  padding: 30px 0px;
  font-size: 1em;
}
.personas{
  width:250px;
  height:250px;
  border-radius: 50%;
  margin: 40px 0px;
}
.info-persona h3{
  color: #414141;
  font-size: 2rem;
}
.info-persona h4{
  color: #767171;
  font-size: 1rem;
}
.info.persona p{
  color: #121212;
  font-size: 1em;
}
.contenedor-equipo{
  padding: 80px 0px
}
/* fin nuestro equipo */

/* portafolio */
.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    color: white;
    text-decoration: underline;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0;
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1;
  }

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7;
  }
}
.fondo-port{
	background-color: black;
}


/* fin portafolio */
/* testimonios */
.testimonio-seccion{
  background-color: white;
}
.testimonio h2{
  color: #6E6A6A;
  margin-top: 40px;
  text-decoration: underline;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
  text-align: center;
	overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: black;
}
.carousel .carousel-control {
	width: 5px;
  height: 10px;
  margin-top: -20px;
  top: 50%;
	background: none;
}
.carousel-control i {
  font-size: 68px;
	line-height: 42px;
  position: absolute;
  display: inline-block;
	color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.contenedor-testimonios{
  padding: 80px 0px;
}
/* fin testimonios*/

/* contacto */
.seccion-contacto{
  background-image: url(../img/img-contacto.jpg);
  background-size: cover;
  background-position: center;
}
.contacto-titulo{
  color: white;
  padding-bottom:  30px;
  text-decoration: underline;
}
.info-contacto{
  background-color: black;
  /* height: 34em; */
  margin-top: 40px;
  margin-bottom: 38px;

}
.info-contacto p{
  font-size: 15px;
}
.info-contacto h3{
  color: #BFB9B9;
  padding: 15px 0px;
}
.info-contacto p{
  color: white;
}
.redes-sociales li{
  color: white;
  list-style: none;
  display: inline-block;
  padding: 0px 15px;
}
.redes-sociales li i:hover{
  color: #BFB9B9;
  cursor: pointer;
}
.redes-contenedor{
  padding-top: 50px;
}
.mapa{
  margin: 40px 0px;
  position: relative;
  right: 14px;
}

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 999999 ;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }

          .sk-rotating-plane {
            position: relative;
          top: 50%;
          width: 100px;
          height: 100px;
          background-color: #ffffff;
          margin: -20px auto 0;
          -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                  animation: sk-rotatePlane 1.2s infinite ease-in-out;}
          @-webkit-keyframes sk-rotatePlane {
            0% {
              -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                      transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
            50% {
              -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
            100% {
              -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
          @keyframes sk-rotatePlane {
            0% {
              -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                      transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
            50% {
              -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
            100% {
              -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.logo-carga{
  width: 200px;
  height: 200px;
  /* position: absolute;
  top: 10%;
  left: 43%; */
}
.loader img{
  position: relative;
  top: 20%;
}
.contenedor-contacto{
  padding: 80px 0px;
}
.iconos-contacto{
  padding-right: 10px;
}
/*fin contacto  */
/* footer */
.info-footer{
  background-color: transparent;
  border-top: 1px solid black; 
}
.info-footer p{
  color: white;
  font-size: 1rem;
  padding-top: 8px;

}

/* fin footer */
/* media querys */
@media (max-width: 991px) {
  .position-logo {
    width: 90px;
    position: absolute;
    left: 10px;
    bottom: 0px;
  }
    .parrafo-inicio{
    width: 100%;
  }
  h1{
    padding-top: 20%;
  }
  .imgf2{
    background-image: url(../img/img-services-query.jpg);
    background-size: cover;
    color: white;
    height: 1276px;;
    width: 100%;
  }
  .info-contacto{
    margin-bottom: 20px;
    margin-right: 75px;
  }

};
/* fin media querys */

/* h1{
font-size: 1rem;
position: relative;
display: inline-block;
}
h1:after{
content: "";
position: absolute;
left: 0;
bottom: -2px;
width: 100%;
height: 1px;
background-color: #00 */
